### <font color="brown">NumPy - Continued</font>

In [1]:
import numpy as np

---

**The max function is not a ufunc (universal function - the second parameter is a scalar that refers to the "axis"**

In [2]:
arr3 = [3,5,1,15,7]
print(arr3)

[3, 5, 1, 15, 7]

In [6]:
np.max(arr3,0)  # max is not binary unfunc, second arg for max is "axis"  check out the Mar/8

15

In [7]:
np.max(arr3)  # max is not binary unfunc, second arg for max is "axis"  check out the Mar/8

15

**The binary ufunc name (maximum) is different from unary ufunc name (max) because the 2nd argument has a different meaning from one to the other**

In [8]:
arr2d = np.arange(1,10).reshape(3,3)
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
print(np.max(arr2d, 1))  # find the max of the each row

[3 6 9]

In [12]:
print(np.max(arr2d, 0))  # ?

[7 8 9]

**fmax is a universal function (ufunc) that works like maximum, difference is it ignores NaN**

In [13]:
arr = np.array([1,2,np.nan,4,5])
arr

array([ 1.,  2., nan,  4.,  5.])

In [14]:
print(arr3)
print(arr)

[3, 5, 1, 15, 7]
[ 1.  2. nan  4.  5.]

In [15]:
np.maximum(arr3,arr)

array([ 3.,  5., nan, 15.,  7.])

In [16]:
np.fmax(arr3,arr)      # ignore the NaN fmax

array([ 3.,  5.,  1., 15.,  7.])

**greater ufunc**

In [18]:
arr1 = [1,2,3,4]
arr2 = [2,1,2,3]
np.greater(arr1,arr2)  # arr1 > arr2 equation

array([False,  True,  True,  True])

---

#### <font color="brown">Using NumPy random module</font>

**randint function**

In [21]:
np.random.randint(-50,0)  
# single random integer between -50 (inclusive) and 0 (exclusive) -50 <= x < 0

-38

In [22]:
# same as basic Python random.randint except in basic Python random.randint, 2nd arg is inclusive
import random
random.randint(-50,0)

-21

In [24]:
np.random.randint(1,100,5)  
# 5 random integers between 1 (inclusive) and 100 (exclusive)

array([64,  4, 61, 78, 92])

In [26]:
np.random.randint(1,100,(2,3))  
# fill (2,3) 2d or multi-d array with random integers in range 1..99

array([[57, 11, 43],
       [76, 77,  7]])

In [27]:
np.random.randint(1,100,(3,3))  
# fill (2,3) 2d or multi-d array with random integers in range 1..99

array([[24, 33, 60],
       [54, 16, 12],
       [64, 66, 61]])

**random function**

In [ ]:
np.random.random(5)  # 5 random reals 0 (inclusive) thru 1 (exclusive)

array([0.76013942, 0.9146387 , 0.73500137, 0.93853147, 0.30176226])

In [31]:
# basic Python version returns a single random number in the range [0,1)
random.random()

0.2074839985145529

In [37]:
np.random.random((3,2)) * 100  # multiple 100 each element

array([[26.45802527, 28.24824436],
       [89.42963973,  2.5428306 ],
       [86.90270297, 89.87081003]])

**choice function**

In [39]:
nlst = [1,5,3,2,19,12,22,18,75,2,-10,0,15]
np.random.choice(nlst,3)  # 3 random selections from nlst

array([15,  3, 18])

In [40]:
# Python random.choice gives a single item
random.choice(nlst)

19

In [41]:
np.random.choice(nlst,8)

array([ 15,  18,   1,   3,   2,  19, -10,   3])

In [48]:
np.random.choice(nlst,size=8,replace=False)   # no duplicates, True is allow duplicate

array([ 15, -10,   2,   2,   3,  22,   0,   5])

**shuffle function**

In [61]:
arrs = np.arange(1,10)
arrs

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [63]:
np.random.shuffle(arrs)
arrs

array([5, 8, 9, 4, 2, 6, 1, 3, 7])

In [66]:
arrs2d = np.random.randint(1,50,(3,4))
arrs2d

array([[20, 23, 43, 36],
       [31, 21, 40, 44],
       [ 4, 40, 25, 26]])

In [71]:
np.random.shuffle(arrs2d)  # Shuffles in the each Row
arrs2d

array([[ 4, 40, 25, 26],
       [20, 23, 43, 36],
       [31, 21, 40, 44]])

In [76]:
arr3d = np.arange(18).reshape(3,3,2)
print(arr3d)

[[[ 0  1]
  [ 2  3]
  [ 4  5]]

 [[ 6  7]
  [ 8  9]
  [10 11]]

 [[12 13]
  [14 15]
  [16 17]]]

In [79]:
np.random.shuffle(arr3d)
arr3d

array([[[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[ 0,  1],
        [ 2,  3],
        [ 4,  5]]])

**permutation function**

In [80]:
arrp = np.arange(1,10)
np.random.permutation(arrp)

array([7, 3, 6, 4, 5, 2, 1, 8, 9])

In [81]:
arrp

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [82]:
arrp2d = np.random.randint(1,50,(5,3))
arrp2d

array([[21, 24, 10],
       [15, 21, 30],
       [ 3, 37,  6],
       [34, 18, 15],
       [14, 24,  5]])

In [83]:
np.random.permutation(arrp2d)  # ?

array([[34, 18, 15],
       [ 3, 37,  6],
       [21, 24, 10],
       [15, 21, 30],
       [14, 24,  5]])

In [84]:
arrp2d  # is the original modified?

array([[21, 24, 10],
       [15, 21, 30],
       [ 3, 37,  6],
       [34, 18, 15],
       [14, 24,  5]])

---

#### <font color="brown">NumPy math and stats functions ("reductions")</font>
**functions min, max, mean, sum, std, cumsum**

In [85]:
arrx = np.random.randint(1,20,5)
print(arrx)
print(arrx.max())  
print(arrx.min())
print(arrx.mean())
print(arrx.sum())
print(arrx.std())
print(arrx.cumsum())

[19 19 19  5 13]
19
5
15.0
75
5.513619500836088
[19 38 57 62 75]

In [86]:
# Alternatively, can use same-named np functions instead of ndarray methods
print(arrx)
print(np.max(arrx))  
print(np.min(arrx))
print(np.mean(arrx))
print(np.sum(arrx))
print(np.std(arrx))
print(np.cumsum(arrx))

[19 19 19  5 13]
19
5
15.0
75
5.513619500836088
[19 38 57 62 75]

**functions argmax, argmin**

In [87]:
narr = np.array([3,1,-10,5,2,0,-10])
narr

array([  3,   1, -10,   5,   2,   0, -10])

In [88]:
# index of minimum value
print(narr.argmin())  # ndarray method
print(np.argmin(narr))  # np function

2
2

**<font color="red">Using axis for reductions on rows only or columns only</font>**

In [89]:
arr2d = np.arange(1,10).reshape(3,3)[[1,0,2]][:,[1,2,0]]
arr2d

array([[5, 6, 4],
       [2, 3, 1],
       [8, 9, 7]])

In [90]:
# ndarray method versions
print('max in each column: ',end='')
print(arr2d.max(axis=0))
print('row index of max in each column: ',end='')
print(arr2d.argmax(axis=0))
print('max in each row: ',end='')
print(arr2d.max(axis=1))
print('column index of max in each row: ',end='')
print(arr2d.argmax(axis=1))
print()
print('min in each column: ',end='')
print(arr2d.min(axis=0))
print('row index of min in each column: ',end='')
print(arr2d.argmin(axis=0))
print('min in each row: ',end='')
print(arr2d.min(axis=1))
print('column index of min in each row: ',end='')
print(arr2d.argmin(axis=1))

max in each column: [8 9 7]
row index of max in each column: [2 2 2]
max in each row: [6 3 9]
column index of max in each row: [1 1 1]

min in each column: [2 3 1]
row index of min in each column: [1 1 1]
min in each row: [4 1 7]
column index of min in each row: [2 2 2]

In [91]:
# np function versions
print('max in each column: ',end='')
print(np.max(arr2d,axis=0))
print('row index of max in each column: ',end='')
print(np.argmax(arr2d,axis=0))
print('max in each row: ',end='')
print(np.max(arr2d,axis=1))
print('column index of max in each row: ',end='')
print(np.argmax(arr2d,axis=1))

max in each column: [8 9 7]
row index of max in each column: [2 2 2]
max in each row: [6 3 9]
column index of max in each row: [1 1 1]

In [92]:
arr2d

array([[5, 6, 4],
       [2, 3, 1],
       [8, 9, 7]])

In [93]:
arr2d.mean()   # no axis parameter

5.0

In [94]:
arr2d.mean(axis=1)  # ?

array([5., 2., 8.])

In [95]:
arr2d.mean(axis=0)  # ?

array([5., 6., 4.])

In [96]:
arr2d.cumsum(axis=0)  # ?

array([[ 5,  6,  4],
       [ 7,  9,  5],
       [15, 18, 12]], dtype=int32)

---

#### <font color="brown">Unique</font>

##### One unique item on the array element

In [98]:
scores = np.array([10,9,9,8,2,3,2,7,5,8])
np.unique(scores)

array([ 2,  3,  5,  7,  8,  9, 10])

In [99]:
arr = [[ 3,  3,  9],
       [10, 12,  1],
       [ 9,  8,  4],
       [ 2,  3, 12]]

In [100]:
np.unique(arr)

array([ 1,  2,  3,  4,  8,  9, 10, 12])

---

#### <font color="brown">Sorting</font>

In [101]:
a = np.array([3,-1,2,5,15,22,-10,85])
print(a)

[  3  -1   2   5  15  22 -10  85]

**np sort function**

In [102]:
np.sort(a)

array([-10,  -1,   2,   3,   5,  15,  22,  85])

In [103]:
print(a)

[  3  -1   2   5  15  22 -10  85]

**ndarray sort method**

In [104]:
a.sort()  
print(a)

[-10  -1   2   3   5  15  22  85]

**np argsort function**

In [105]:
a = np.array([3,-1,2,5,15,22,-10,85])
print(a)

[  3  -1   2   5  15  22 -10  85]

In [106]:
# positions of sorted values
sort_ix = np.argsort(a)
print(np.sort(a))
print(sort_ix)

[-10  -1   2   3   5  15  22  85]
[6 1 2 0 3 4 5 7]

**ndarray argsort method**

In [107]:
print(a.argsort())

[6 1 2 0 3 4 5 7]

**sort on 2D array**

In [108]:
a = [3,-1,2,5,15,22,-10,85]
b = [9,2,15,10,1,3,-2,5]
c = np.array([a,b])
print(c)

[[  3  -1   2   5  15  22 -10  85]
 [  9   2  15  10   1   3  -2   5]]

In [109]:
np.sort(c)  # ?

array([[-10,  -1,   2,   3,   5,  15,  22,  85],
       [ -2,   1,   2,   3,   5,   9,  10,  15]])

In [110]:
np.argsort(c)

array([[6, 1, 2, 0, 3, 4, 5, 7],
       [6, 4, 1, 5, 7, 0, 3, 2]], dtype=int64)

In [111]:
np.argsort(c)[:,-3:]  # what function does this perform?

array([[4, 5, 7],
       [0, 3, 2]], dtype=int64)

In [124]:
arr = np.random.randint(1,13,(4,3))
print(arr)

[[ 9  9 11]
 [ 9 10  7]
 [ 5 12 11]
 [ 3  6 11]]

In [125]:
np.sort(arr,axis=0)   # ?

array([[ 3,  6,  7],
       [ 5,  9, 11],
       [ 9, 10, 11],
       [ 9, 12, 11]])

In [126]:
np.argsort(arr,axis=0)

array([[3, 3, 1],
       [2, 0, 0],
       [0, 1, 2],
       [1, 2, 3]], dtype=int64)

In [127]:
np.sort(arr,axis=1)  # ?

array([[ 9,  9, 11],
       [ 7,  9, 10],
       [ 5, 11, 12],
       [ 3,  6, 11]])

In [128]:
np.sort(arr)  # axis=1 is default

array([[ 9,  9, 11],
       [ 7,  9, 10],
       [ 5, 11, 12],
       [ 3,  6, 11]])

---

#### <font color="brown">where function</font>

In [129]:
xlst = [1,2,3,4,5]
ylst = [6,7,8,9,10]
condlst = [True, False, True, True, False]

In [130]:
# want value from xlst if cond is True, otherwise value from yarr
res = [x if c else y
           for x,y,c in zip(xlst, ylst, condlst)]
res

[1, 7, 3, 4, 10]

**Using where function to conditionally manipulate items of array**

In [131]:
# above list comprehension is equivalent to this
# condlst is condition find the boolean array
# base on the condlst  if ture pick from x false pick from y
np.where(condlst, xlst, ylst)

array([ 1,  7,  3,  4, 10])

**Either or both of 2nd and 3rd arguments to np.where can be scalars**

In [136]:
arr = np.random.randint(-5,5,(4,4))
print(arr,'\n')

# replace all negative values with -1 and other values with 1
arrx = np.where(arr < 0, -1, 1)
print(arrx)

[[-3  3 -4  1]
 [-1  4  3 -3]
 [-5  2 -2 -1]
 [ 2  0  2  1]]

[[-1  1 -1  1]
 [-1  1  1 -1]
 [-1  1 -1 -1]
 [ 1  1  1  1]]

In [137]:
# replace only negative values with -1
arrx = np.where(arr < 0, -1, arr)
print(arrx)

[[-1  3 -1  1]
 [-1  4  3 -1]
 [-1  2 -1 -1]
 [ 2  0  2  1]]

In [139]:
# replace only positive values with 1
arrx = np.where(arr < 0, arr, 1)
print(arrx)

[[-3  1 -4  1]
 [-1  1  1 -3]
 [-5  1 -2 -1]
 [ 1  1  1  1]]

---

#### <font color="brown">Boolean arrays</font>
**Boolean values are coerced to 1 (True) and 0 (False)**

##### Exercise: Find number of positive values in an array

In [143]:
arr = np.array([1,-5,2,3,-4,6])
arr > 0

array([ True, False,  True,  True, False,  True])

In [146]:
(arr > 0).sum()    # number of True values

4

---

#### <font color="brown">Linear Algebra</font>

In [147]:
narr = np.arange(0,32).reshape(4,8)
narr

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31]])

**Matrix Transpose**

In [152]:
tnarr = narr.T # transpose, rows become columns and vice versa
tnarr

array([[ 0,  8, 16, 24],
       [ 1,  9, 17, 25],
       [ 2, 10, 18, 26],
       [ 3, 11, 19, 27],
       [ 4, 12, 20, 28],
       [ 5, 13, 21, 29],
       [ 6, 14, 22, 30],
       [ 7, 15, 23, 31]])

In [153]:
# alternatively
narr.transpose()

array([[ 0,  8, 16, 24],
       [ 1,  9, 17, 25],
       [ 2, 10, 18, 26],
       [ 3, 11, 19, 27],
       [ 4, 12, 20, 28],
       [ 5, 13, 21, 29],
       [ 6, 14, 22, 30],
       [ 7, 15, 23, 31]])

In [154]:
narr   # is original array modified?

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31]])

In [155]:
tnarr   # is original array modified?

array([[ 0,  8, 16, 24],
       [ 1,  9, 17, 25],
       [ 2, 10, 18, 26],
       [ 3, 11, 19, 27],
       [ 4, 12, 20, 28],
       [ 5, 13, 21, 29],
       [ 6, 14, 22, 30],
       [ 7, 15, 23, 31]])

**np function version**

In [156]:
np.transpose(narr)

array([[ 0,  8, 16, 24],
       [ 1,  9, 17, 25],
       [ 2, 10, 18, 26],
       [ 3, 11, 19, 27],
       [ 4, 12, 20, 28],
       [ 5, 13, 21, 29],
       [ 6, 14, 22, 30],
       [ 7, 15, 23, 31]])

In [157]:
narr  # is original array modified?

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31]])

**Matrix Multiplication**

In [158]:
mat1 = np.arange(1,7).reshape(2,3)
mat1

array([[1, 2, 3],
       [4, 5, 6]])

In [159]:
mat2 = np.arange(1,7).reshape(3,2)
mat2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [166]:
# .dot -- Matrix method
#   v1 = [2 1 -1]
#   v2 = [3 0 5]
# v1 * v2 = [2*3 1*0 -1*5]

# Martix rule
# mat1 = 2 X 3 , mat2 = 3 X 2
# C1 and R1 must be same
# And then do the usual matric equation

In [167]:
np.dot(mat1,mat2)  # matrix multiply mat1 with mat2

array([[22, 28],
       [49, 64]])

In [168]:
mat2, mat1

(array([[1, 2],
        [3, 4],
        [5, 6]]),
 array([[1, 2, 3],
        [4, 5, 6]]))

In [169]:
np.dot(mat2,mat1)  # matrix multiply mat2 with mat1

array([[ 9, 12, 15],
       [19, 26, 33],
       [29, 40, 51]])

In [170]:
mat3 = np.array([-1,1,3,2,2,4]).reshape(2,3)
mat3

array([[-1,  1,  3],
       [ 2,  2,  4]])

In [171]:
mat1

array([[1, 2, 3],
       [4, 5, 6]])

In [175]:
mat1.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [179]:
np.dot(mat1,mat3)  
# Error
# Have to match up the C1 and R1 are same size

ValueError: shapes (2,3) and (2,3) not aligned: 3 (dim 1) != 2 (dim 0)

In [180]:
np.dot(mat1.T,mat3)  # transpose mat1, then matrix multiply with mat3

array([[ 7,  9, 19],
       [ 8, 12, 26],
       [ 9, 15, 33]])

In [181]:
np.dot(np.array([1,2,3]), np.array([1,2,3]))  # dot product of two vectors

14

compare .dot and matmul </n>
https://www.delftstack.com/ko/howto/numpy/numpy-dot-vs-matmul/

In [186]:
np.matmul(mat1, mat2)

array([[22, 28],
       [49, 64]])

In [187]:
np.matmul(mat2, mat1)

array([[ 9, 12, 15],
       [19, 26, 33],
       [29, 40, 51]])