### <font color="brown">Problem Set 1: Python basics</font>

Prerequisites : Python installation, Jupyter installation

Rules for variables and function names in python:
1. All names must start with a letter or underscore. For e.g: user_name is a valid identifier but 1digit is not. <br> 
2. Identifiers can contain letters, digits and underscores. <br> 
3. They can be of any length. <br> 
4. Identifiers can't be a keyword. Keywords are reserved words that Python uses for special purposes. For e.g: False, None, break etc <br>

---

#### Problem 1:

Given the below value of x, print the values of following:
1. Cube of x
2. The remainder when divided by 4
3. The integer quotient when divided by 5
4. Expression to determine whether x is greater than 15 and less than 25. Print the resultant value.
5. Check if x is equal to the value of x as string. Eg: if 3 and "3" are same.  

All the above values should be printed in the following form: <br>
"Problem: Value"
For e.g.: "Cube of 10: 1000"

In [1]:
x = 18

In [20]:
# 1.
import math

print(math.pow(x,3))

#or

print(x**3)

5832.0
5832

In [13]:
# 2. 
print(x%4)

2

In [22]:
# 3. 
print(int(x/5))

#or

x//5

3

3

In [41]:
# 4. 
x > 15 & x < 25

#or

x > 15 and x < 25

#or

x in range(16,25)

True

In [40]:
# 5.
x == str(x)

True

---

#### Problem 2:

The function "calculate_average" takes in three integers and returns their average. Complete the function definition to calculate the average. Print the value of average inside the function. Also, print the data type of computed average inside the function.

In [63]:
def calculate_average(a, b, c):
    average = (a+b+c)//3
    return average

# / = float, // = int

In [64]:
calculate_average(10,20,30)

20

---

#### Problem 3: 

String concatenation and string repetition:

Form a single string using the below given variables: 

"My name is Jim Halpert. My annual salary is $60000 <br>
I am good. I am good. I am good." 

Print the resultant string.

In [23]:
name = "Jim Halpert" 
salary = 60000
string = "I am good. "
age = 35

In [73]:
# Solution
print("My namie is " + name + ". My annual salary is $" + str(salary) + "\n" + string + string + string)

My namie is Jim Halpert. My annual salary is $60000
I am good. I am good. I am good.

In [78]:
# Solution
result = f"My namie is {name}. My annual salary is ${salary} \n {string} {string} {string}"
print(result)

My namie is Jim Halpert. My annual salary is $60000
 I am good.  I am good.  I am good.

---

#### Problem 4:

String Functions:

Note: All string methods returns new values. They do not change the original string.

Reference: https://www.w3schools.com/python/python_ref_string.asp

In [81]:
string = "Hello! How are you? It has been quite some time. Last time I saw you was in California."

Given the following input string, perform the following:
1. Print the length of string
2. Occurrence of substring "time"
3. Check if substring "California" and "New York" occurs in string
4. Convert string to uppercase
5. Find the index of '!' in the string
6. Check is there are any digits in the string

In [85]:
# Solution
len(string)

lenght is 87

In [86]:
# Solution
string.count("time")

2

In [87]:
# Solution
"California" in string

True

In [90]:
# Solution
string.count("New York")

0

In [91]:
string.find("!")

5

In [ ]:
string.isalnum()

---

#### Problem 5:

Write a function to compute the area of the circle given radius r.

In [93]:
# Solution 
import math
r = 
math.pi(r)

TypeError: 'float' object is not callable

---

#### Problem 6: 

Create a function that takes in the student id, age, name, and grade of the student. The function should print both the values. If the grade is missing, the function should display the grade as 'B'. If the age is missing, the function should display the age as 18.

In [ ]:
def calculate_average_1(a, b, c):
    average = (a+b+c)//3
    return average

---

#### Problem 7: 

1. Create a function "calculate()" that takes in two integers (a,b). The function should return addition, subtraction, multiplication, division of a and b. Note: If b is zero, it will result in "Divide by zero error".  <br>
2. Write a function call with sample values of a and b. Print the results from the function call.

In [ ]:
# Solution 
def calc(a, b)
    add = a + b
    sub = a - b
    mul = a * b
        if b==0:
            " no div possible"
    div = a / b
    
    return add, sub, mul, div

---

#### Problem 8:

Write a function to check if a number belongs to a particular range (a,b). If the range is not mentioned, the range should be (0,100). <br>

Test your code by checking if 7 belongs to the range (5,15).

In [ ]:
# Solution 
def range(x, a = 0 ,b = 100):
    return