### <font color="brown">Problem Set 1: Python basics</font>

Prerequisites : Python installation, Jupyter installation

Rules for variables and function names in python:
1. All names must start with a letter or underscore. For e.g: user_name is a valid identifier but 1digit is not. <br> 
2. Identifiers can contain letters, digits and underscores. <br> 
3. They can be of any length. <br> 
4. Identifiers can't be a keyword. Keywords are reserved words that Python uses for special purposes. For e.g: False, None, break etc <br>

---

#### Problem 1:

Given the below value of x, print the values of following:
1. Cube of x
2. The remainder when divided by 4
3. The integer quotient when divided by 5
4. Expression to determine whether x is greater than 15 and less than 25. Print the resultant value.
5. Check if x is equal to the value of x as string. Eg: if 3 and "3" are same.  

All the above values should be printed in the following form: <br>
"Problem: Value"
For e.g.: "Cube of 10: 1000"

In [42]:
x = 18

In [16]:
import math
math.pow(x,3)

5832.0

In [17]:
# 1. 
x**3

5832

In [23]:
# 2. 
x%4

2

In [24]:
# 3. 
x//5

3

In [29]:
# 4. 
x > 15 & x < 25

True

In [31]:
x in range(16,25)

True

In [34]:
print([i for i in range(16,25)])

[16, 17, 18, 19, 20, 21, 22, 23, 24]

In [43]:
# 5.
type(x)

int

In [44]:
str(x)

'18'

In [45]:
type(str(x))

str

In [46]:
x==str(x)

False

In [47]:
18=="18"

False

---

#### Problem 2:

The function "calculate_average" takes in three integers and returns their average. Complete the function definition to calculate the average. Print the value of average inside the function. Also, print the data type of computed average inside the function.

In [58]:
def calculate_average(a, b, c):
    # Complete function definition here
    average = (a+b+c)//3
    print(average)
    print(type(average))
    return average

In [59]:
calculate_average(-209,20,-230)

-140
<class 'int'>

-140

---

#### Problem 3: 

String concatenation and string repetition:

Form a single string using the below given variables: 

"My name is Jim Halpert. My annual salary is $60000 <br>
I am good. I am good. I am good." 

Print the resultant string.

In [69]:
name = "Jim Halpert" 
salary = 60000
string = "I am good. "
age = 35

In [71]:
"cs"*3

'cscscs'

In [74]:
# Solution
print()

In [70]:
result = "My name is " + name + ". My annual salary is $" + str(salary) + "\n" + string*3
print(result)

My name is Jim Halpert. My annual salary is $60000
I am good. I am good. I am good.

In [73]:
result = f'My name is {name}. My annual salary is ${salary}\n{string}{string}{string}'
print(result)

My name is Jim Halpert. My annual salary is $60000
I am good. I am good. I am good.

In [72]:
"cs " + 210

TypeError: can only concatenate str (not "int") to str

In [67]:
"cs "+str(210)

'cs 210'

---

#### Problem 4:

String Functions:

Note: All string methods returns new values. They do not change the original string.

Reference: https://www.w3schools.com/python/python_ref_string.asp

In [76]:
string = "Hello! How are you? It has been quite some time. Last time I saw you was in California."

Given the following input string, perform the following:
1. Print the length of string
2. Occurrence of substring "time"
3. Check if substring "California" and "New York" occurs in string
4. Convert string to uppercase
5. Find the index of '!' in the string
6. Check is there are any digits in the string

In [77]:
# Solution

len(string)

87

In [78]:
string.count("time")

2

In [84]:
"New York" in string

False

In [83]:
string.count("New York")

0

In [ ]:
function(string)

In [ ]:
string.function()

In [85]:
string.upper()

'HELLO! HOW ARE YOU? IT HAS BEEN QUITE SOME TIME. LAST TIME I SAW YOU WAS IN CALIFORNIA.'

In [88]:
string.find('!')

5

In [87]:
string.find('New York')

-1

In [89]:
string.isalnum()

False

---

#### Problem 5:

Write a function to compute the area of the circle given radius r.

In [ ]:
# Solution

---

#### Problem 6: 

Create a function that takes in the student id, age, name, and grade of the student. The function should print both the values. If the grade is missing, the function should display the grade as 'B'. If the age is missing, the function should display the age as 18.

In [91]:
def calculate_average_1(a, b, c=30):
    # Complete function definition here
    average = (a+b+c)//3
    print(average)
    print(type(average))
    return average

In [ ]:
calculate_average_1(20,40)

In [94]:
calculate_average_1(20)

TypeError: calculate_average_1() missing 1 required positional argument: 'b'

In [ ]:
# Solution

---

#### Problem 7: 

1. Create a function "calculate()" that takes in two integers (a,b). The function should return addition, subtraction, multiplication, division of a and b. Note: If b is zero, it will result in "Divide by zero error".  <br>
2. Write a function call with sample values of a and b. Print the results from the function call.

In [101]:
# Solution 
def calculate(a, b):
    add = a + b
    sub = a - b
    mul = a * b 
    if b==0:
        "no div possible"
        div = None
    else:
        div = a / b
    
    return add, sub, mul, div

In [103]:
a = 10
b = 5
c, d, e, f = calculate(a, b)

print("Addition:", c)
print("Subtraction:", d)
print("Multiplication:", e)
print("Division:", f)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [104]:
a = 10
b = 0
c, d, e, f = calculate(a, b)

print("Addition:", c)
print("Subtraction:", d)
print("Multiplication:", e)
print("Division:", f)

Addition: 10
Subtraction: 10
Multiplication: 0
Division: None

In [95]:
4/0

ZeroDivisionError: division by zero

In [96]:
4//0

ZeroDivisionError: integer division or modulo by zero

In [97]:
4%0

ZeroDivisionError: integer division or modulo by zero

---

#### Problem 8:

Write a function to check if a number belongs to a particular range (a,b). If the range is not mentioned, the range should be (0,100). <br>

Test your code by checking if 7 belongs to the range (5,15).

In [ ]:
# Solution

In [105]:
def belongs_to_range(x, a = 0, b = 100):
    return a < x and x < b

In [106]:
var = belongs_to_range(7, a = 5, b = 15)
print(var)

True